@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.placeName {
  width: 1000px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreDetails {
  width: 130px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreDetails > p {
  font-size: 14px;
  color: #6165f7;
  font-weight: 600;
}

.moreDetails > img {
  width: 24px;
  height: 24px;
}

.forecastContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.forecastCard {
  display: flex;
  align-items: center;
}

.forecastCard section:last-of-type {
  opacity: 0.5;
}

.dailyForecastCard {
  margin: 16px;
  width: 80px;
  height: 120px;
  border: 1px solid #f4f4f4;
  border-radius: 16px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dailyForecastCard > img {
  width: 24px;
  height: 24px;
}

.dailyForecastCard > p {
  font-size: 14px;
  font-weight: 600;
}

p:last-child {
  color: #93a0ae;
}

button {
  width: 40px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #6165f7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 42.5%;
}

button > img {
  width: 24px;
  height: 24px;
}
